temp87845_pkg
trash
settings/__pycache__
h3k4me3_plots
muffin/utils/__pycache__
H3K4Me3_chip_immune.html
muffin/__pycache__
10k_pbmcs_results
atac_tcga_results
h3k4me3_results
tmp_muffin
build_
build
.vscode
dist
muffin.egg-info
docs/examples/10k_pbmc_clustering-copy.ipynb
10k_pbmcs_pol2
data
3k_pbmc
scATAC_pbmc
benchmarks/benchmark_results
benchmarks/peakmerge/benchmark_results
all_peaks_ctcf_subset.bed
.bckupgit